Node Red 1st Flow.json
[{"id":"d65ad96a.d9a138","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"82d10df9.d9796","type":"inject","z":"d65ad96a.d9a138","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["5a9243ef.e6541c"]]},{"id":"7bbb61a4.a1946","type":"debug","z":"d65ad96a.d9a138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":100,"wires":[]},{"id":"5a9243ef.e6541c","type":"function","z":"d65ad96a.d9a138","name":"","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":100,"wires":[["7bbb61a4.a1946"]]}]