Node Red 2nd Flow.json
[{"id":"d55d47c5.a3d468","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"93a511ca.a3952","type":"inject","z":"d55d47c5.a3d468","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":120,"wires":[["e315074b.f7cf28"]]},{"id":"e315074b.f7cf28","type":"http request","z":"d55d47c5.a3d468","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":120,"wires":[["d1dfd943.0e0f68"]]},{"id":"d1dfd943.0e0f68","type":"csv","z":"d55d47c5.a3d468","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":510,"y":120,"wires":[["d7162fcb.e2baf","85519907.ab8818"]]},{"id":"d7162fcb.e2baf","type":"debug","z":"d55d47c5.a3d468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":120,"wires":[]},{"id":"85519907.ab8818","type":"switch","z":"d55d47c5.a3d468","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":220,"wires":[["c10c5b26.d67d78"]]},{"id":"c10c5b26.d67d78","type":"change","z":"d55d47c5.a3d468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":220,"wires":[["10c3ccaa.2b9553"]]},{"id":"10c3ccaa.2b9553","type":"debug","z":"d55d47c5.a3d468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":220,"wires":[]}]