Smart Agriculture App.json
[{"id":"703ee76e.a07978","type":"tab","label":"App","disabled":false,"info":""},{"id":"41994107.bce16","type":"ibmiot in","z":"703ee76e.a07978","authentication":"apiKey","apiKey":"9242d1ec.ac675","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"mcu123","applicationId":"","deviceType":"NodeMCU","eventType":"iotsensor","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":190,"y":200,"wires":[["d9669043.5ffed","61d5c3f2.f2e82c","4b16e7e8.00b938","5b3242e4.87b4bc","e2c2c1e3.45dfc"]]},{"id":"d9669043.5ffed","type":"debug","z":"703ee76e.a07978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":200,"wires":[]},{"id":"61d5c3f2.f2e82c","type":"function","z":"703ee76e.a07978","name":"Temperature","func":"msg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["d9669043.5ffed","b43051b.e5175b"]]},{"id":"4b16e7e8.00b938","type":"function","z":"703ee76e.a07978","name":"Humidity","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":260,"wires":[["d9669043.5ffed","715dfec3.81498"]]},{"id":"5b3242e4.87b4bc","type":"function","z":"703ee76e.a07978","name":"Soil Moisture","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":320,"wires":[["d9669043.5ffed","32ceb432.0f6bbc"]]},{"id":"31817ee4.f2aa22","type":"debug","z":"703ee76e.a07978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":600,"wires":[]},{"id":"faa3f3f3.ddcd2","type":"function","z":"703ee76e.a07978","name":"Temperature","func":"msg.payload = msg.payload.tempc\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":480,"wires":[["31817ee4.f2aa22","146e7bb0.1b2b04"]]},{"id":"3c4d592.c8b57a6","type":"function","z":"703ee76e.a07978","name":"Weather","func":"msg.payload = msg.payload.weather+\" (\"+msg.payload.detail+\")\"\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":540,"wires":[["31817ee4.f2aa22","768a20ef.13d47"]]},{"id":"33bef196.7f978e","type":"function","z":"703ee76e.a07978","name":"Humidity","func":"msg.payload = msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":660,"wires":[["31817ee4.f2aa22","d4bb4b6c.e98768"]]},{"id":"b4bcf909.d8cd78","type":"function","z":"703ee76e.a07978","name":"Wind Direction","func":"msg.payload = msg.payload.winddirection\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":720,"wires":[["31817ee4.f2aa22","75f8b36a.e5cf2c"]]},{"id":"b573f665.2e06a8","type":"function","z":"703ee76e.a07978","name":"Wind Speed","func":"msg.payload = msg.payload.windspeed\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":780,"wires":[["31817ee4.f2aa22","d50392e8.ab711"]]},{"id":"fd5568bb.5edd78","type":"inject","z":"703ee76e.a07978","name":"Time","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":600,"wires":[["ee03f18c.bc3ba"]]},{"id":"e2c2c1e3.45dfc","type":"function","z":"703ee76e.a07978","name":"Soil Moisture","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":80,"wires":[["bba0ed6f.0815c","5735ace3.98ff54"]]},{"id":"bba0ed6f.0815c","type":"switch","z":"703ee76e.a07978","name":"Switch 1","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":80,"wires":[["1a5229dd.174666"]]},{"id":"c8551322.a5d15","type":"change","z":"703ee76e.a07978","name":"Msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"Low Water Level. Start Motor.","tot":"str"},{"t":"set","p":"count","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":80,"wires":[["3c1f8ca0.9876a4"]]},{"id":"1a5229dd.174666","type":"switch","z":"703ee76e.a07978","name":"Switch 2","property":"count","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":80,"wires":[["c8551322.a5d15"]]},{"id":"5735ace3.98ff54","type":"switch","z":"703ee76e.a07978","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":40,"wires":[["31d526fa.33359a"]]},{"id":"31d526fa.33359a","type":"change","z":"703ee76e.a07978","name":"Change","rules":[{"t":"set","p":"count","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":40,"wires":[[]]},{"id":"bd415bb7.868448","type":"change","z":"703ee76e.a07978","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":980,"wires":[["17991b7b.87b805"]]},{"id":"1797bd36.ef7473","type":"change","z":"703ee76e.a07978","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1100,"wires":[["17991b7b.87b805"]]},{"id":"1113b823.292918","type":"function","z":"703ee76e.a07978","name":"Sunrise","func":"var dtm = new Date(msg.payload.sunrise*1000);\nmsg.payload = dtm;\nreturn msg;\n","outputs":1,"noerr":0,"x":440,"y":840,"wires":[["2d424383.280fbc"]]},{"id":"954ab88d.acd308","type":"function","z":"703ee76e.a07978","name":"Sunrise ","func":"var a = msg.payload\na = a.substr(11,8)\nmsg.payload = a\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":840,"wires":[["2b9f14f9.3020ec"]]},{"id":"aab7fa29.195a78","type":"function","z":"703ee76e.a07978","name":"Sunset","func":"var dtm = new Date(msg.payload.sunset * 1000);\nmsg.payload = dtm;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":880,"wires":[["f5c03538.2c6d08"]]},{"id":"3d5d83a4.6bfb1c","type":"function","z":"703ee76e.a07978","name":"Sunrise ","func":"var a = msg.payload\na = a.substr(11,8)\nmsg.payload = a\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":880,"wires":[["3b62a880.c80778"]]},{"id":"6a1f28d8.d5e2a8","type":"function","z":"703ee76e.a07978","name":"Clouds","func":"msg.payload = msg.payload.clouds\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":420,"wires":[["31817ee4.f2aa22","1274e4.4b761b1d"]]},{"id":"b69fa97b.e71aa8","type":"ibmiot out","z":"703ee76e.a07978","authentication":"apiKey","apiKey":"9242d1ec.ac675","outputType":"cmd","deviceId":"motor123","deviceType":"Motor","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":340,"y":1040,"wires":[]},{"id":"4fbb5c45.d3d934","type":"mytimeout","z":"703ee76e.a07978","name":"Timer","outtopic":"","outsafe":"on","outwarning":"Warning","outunsafe":"off","warning":"1800","timer":"2700","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":470,"y":1180,"wires":[["310d1218.8a290e"],["7ba253cf.ac206c","d0b1e27c.84c32","e3ac6139.7a951"]]},{"id":"dd0babbb.5a8478","type":"change","z":"703ee76e.a07978","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"payload\":\"on\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1160,"wires":[["4fbb5c45.d3d934"]]},{"id":"6c5a2dfe.68cca4","type":"change","z":"703ee76e.a07978","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"payload\":\"off\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1200,"wires":[["4fbb5c45.d3d934"]]},{"id":"310d1218.8a290e","type":"debug","z":"703ee76e.a07978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":1160,"wires":[]},{"id":"d0b1e27c.84c32","type":"switch","z":"703ee76e.a07978","name":"Switch 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1800","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":1280,"wires":[["99144bc7.766578"]]},{"id":"7fb67d3c.9644f4","type":"change","z":"703ee76e.a07978","name":"Msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"WARNING! Motor running for 30 mins.","tot":"str"},{"t":"set","p":"counter","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1280,"wires":[["525b755.3fd958c"]]},{"id":"99144bc7.766578","type":"switch","z":"703ee76e.a07978","name":"Switch 2","property":"counter","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":1280,"wires":[["7fb67d3c.9644f4"]]},{"id":"7ba253cf.ac206c","type":"switch","z":"703ee76e.a07978","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2700","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":1220,"wires":[["4a12dcd.29e7d24"]]},{"id":"4a12dcd.29e7d24","type":"change","z":"703ee76e.a07978","name":"","rules":[{"t":"set","p":"counter","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1220,"wires":[[]]},{"id":"e3ac6139.7a951","type":"switch","z":"703ee76e.a07978","name":"Switch 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":1340,"wires":[["14436809.7fa178"]]},{"id":"2c168597.0b5f2a","type":"change","z":"703ee76e.a07978","name":"Msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"WARNING! Motor autmoatically switched off after 45 mins. Start again if needed","tot":"str"},{"t":"set","p":"counter","pt":"global","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1340,"wires":[["3c1c17e8.110d18"]]},{"id":"14436809.7fa178","type":"switch","z":"703ee76e.a07978","name":"Switch 2","property":"counter","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":1340,"wires":[["2c168597.0b5f2a","a8fbc85e.ef69e8"]]},{"id":"93f4d177.c3809","type":"link out","z":"703ee76e.a07978","name":"","links":["449354ff.f40d9c","a5bcc756.304828"],"x":975,"y":1380,"wires":[]},{"id":"a8fbc85e.ef69e8","type":"change","z":"703ee76e.a07978","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"motoroff\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1380,"wires":[["93f4d177.c3809"]]},{"id":"449354ff.f40d9c","type":"link in","z":"703ee76e.a07978","name":"","links":["93f4d177.c3809","af4866e.0250998"],"x":155,"y":1040,"wires":[["6c5a2dfe.68cca4","b69fa97b.e71aa8","1797bd36.ef7473"]],"outputLabels":["msg.payload"]},{"id":"2d424383.280fbc","type":"moment","z":"703ee76e.a07978","name":"Time","topic":"","input":"","inputType":"msg","inTz":"Asia/Kolkata","adjAmount":"5.5","adjType":"hours","adjDir":"add","format":"","locale":"en_US","output":"","outputType":"msg","outTz":"Asia/Kolkata","x":570,"y":840,"wires":[["c2f86789.2296b8"]]},{"id":"f5c03538.2c6d08","type":"moment","z":"703ee76e.a07978","name":"Time","topic":"","input":"","inputType":"msg","inTz":"Asia/Kolkata","adjAmount":"5.5","adjType":"hours","adjDir":"add","format":"","locale":"en_US","output":"","outputType":"msg","outTz":"Asia/Kolkata","x":570,"y":880,"wires":[["463ea38e.e5dd1c"]]},{"id":"c2f86789.2296b8","type":"string","z":"703ee76e.a07978","name":"","methods":[{"name":"toString","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":690,"y":840,"wires":[["954ab88d.acd308"]]},{"id":"463ea38e.e5dd1c","type":"string","z":"703ee76e.a07978","name":"","methods":[{"name":"toString","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":690,"y":880,"wires":[["3d5d83a4.6bfb1c"]]},{"id":"dc16871a.fa4938","type":"ui_button","z":"703ee76e.a07978","name":"","group":"be75b07a.00a5a","order":4,"width":0,"height":0,"passthru":false,"label":"Weather","tooltip":"","color":"white","bgcolor":"#ff0040","icon":"filter_drama","payload":"{\"tab\":\"Weather\"}","payloadType":"json","topic":"","x":360,"y":1540,"wires":[["ae7bfe36.0f5bb"]]},{"id":"1410b745.1e76a9","type":"ui_button","z":"703ee76e.a07978","name":"","group":"be75b07a.00a5a","order":2,"width":0,"height":0,"passthru":false,"label":"Sensors","tooltip":"","color":"white","bgcolor":"#ff0040","icon":"usb","payload":"{\"tab\":\"Sensors\"}","payloadType":"json","topic":"","x":360,"y":1460,"wires":[["ae7bfe36.0f5bb"]]},{"id":"a0b5f8d1.c6a318","type":"ui_button","z":"703ee76e.a07978","name":"","group":"be75b07a.00a5a","order":3,"width":0,"height":0,"passthru":false,"label":"Motor","tooltip":"","color":"white","bgcolor":"#ff0040","icon":"toys","payload":"{\"tab\":\"Motor\"}","payloadType":"json","topic":"","x":370,"y":1500,"wires":[["ae7bfe36.0f5bb"]]},{"id":"98d2132c.9f52f","type":"ui_button","z":"703ee76e.a07978","name":"","group":"f568f69f.60d788","order":1,"width":2,"height":1,"passthru":false,"label":"Home","tooltip":"","color":"black","bgcolor":"#00ffff","icon":"home","payload":"{\"tab\":\"Home\"}","payloadType":"json","topic":"","x":370,"y":1580,"wires":[["ae7bfe36.0f5bb"]]},{"id":"f79e9782.772538","type":"ui_button","z":"703ee76e.a07978","name":"","group":"a14afa5d.f71ae8","order":1,"width":2,"height":1,"passthru":false,"label":"Home","tooltip":"","color":"black","bgcolor":"#00ffff","icon":"home","payload":"{\"tab\":\"Home\"}","payloadType":"json","topic":"","x":370,"y":1620,"wires":[["ae7bfe36.0f5bb"]]},{"id":"86291fd3.4530a","type":"ui_button","z":"703ee76e.a07978","name":"","group":"ac660996.ebd488","order":1,"width":2,"height":1,"passthru":false,"label":"Home","tooltip":"","color":"black","bgcolor":"#00ffff","icon":"home","payload":"{\"tab\":\"Home\"}","payloadType":"json","topic":"","x":370,"y":1660,"wires":[["ae7bfe36.0f5bb"]]},{"id":"22019f40.98d99","type":"ui_button","z":"703ee76e.a07978","name":"","group":"a14afa5d.f71ae8","order":5,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"#ff1a1a","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":110,"y":1100,"wires":[["1797bd36.ef7473","b69fa97b.e71aa8","6c5a2dfe.68cca4"]]},{"id":"4f2b3fb8.1b5c2","type":"ui_button","z":"703ee76e.a07978","name":"","group":"a14afa5d.f71ae8","order":4,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"#00ae00","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":120,"y":980,"wires":[["bd415bb7.868448","b69fa97b.e71aa8","dd0babbb.5a8478"]]},{"id":"715dfec3.81498","type":"ui_gauge","z":"703ee76e.a07978","name":"","group":"f568f69f.60d788","order":5,"width":5,"height":5,"gtype":"gage","title":"Humidity","label":"","format":"{{value}}%","min":0,"max":"100","colors":["#e6e600","#00b500","#ca3838"],"seg1":"40","seg2":"70","x":540,"y":260,"wires":[]},{"id":"32ceb432.0f6bbc","type":"ui_gauge","z":"703ee76e.a07978","name":"","group":"f568f69f.60d788","order":11,"width":5,"height":5,"gtype":"gage","title":"Soil Moisture","label":"","format":"{{value}}%","min":0,"max":"100","colors":["#ca3838","#00b500","#e6e600"],"seg1":"40","seg2":"70","x":550,"y":320,"wires":[]},{"id":"146e7bb0.1b2b04","type":"ui_gauge","z":"703ee76e.a07978","name":"","group":"ac660996.ebd488","order":9,"width":5,"height":4,"gtype":"gage","title":"Temperature","label":"","format":"{{value}}°C","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"40","x":670,"y":480,"wires":[]},{"id":"d4bb4b6c.e98768","type":"ui_gauge","z":"703ee76e.a07978","name":"","group":"ac660996.ebd488","order":11,"width":5,"height":4,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":660,"wires":[]},{"id":"75f8b36a.e5cf2c","type":"ui_gauge","z":"703ee76e.a07978","name":"","group":"ac660996.ebd488","order":17,"width":5,"height":4,"gtype":"compass","title":"Wind Direction","label":"","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":720,"wires":[]},{"id":"d50392e8.ab711","type":"ui_gauge","z":"703ee76e.a07978","name":"","group":"ac660996.ebd488","order":15,"width":5,"height":4,"gtype":"gage","title":"Wind Speed","label":"","format":"{{value}} m/s","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"15","x":670,"y":780,"wires":[]},{"id":"b43051b.e5175b","type":"ui_gauge","z":"703ee76e.a07978","name":"","group":"f568f69f.60d788","order":3,"width":5,"height":5,"gtype":"gage","title":"Temperature","label":"","format":"{{value}}°C","min":0,"max":"60","colors":["#e6e600","#00b500","#ca3838"],"seg1":"20","seg2":"35","x":550,"y":140,"wires":[],"info":"```<i class=\"fa fa-wifi\" aria-hidden=\"true\"></i>```"},{"id":"768a20ef.13d47","type":"ui_text","z":"703ee76e.a07978","group":"ac660996.ebd488","order":2,"width":7,"height":1,"name":"","label":"Weather : ","format":"{{msg.payload}}","layout":"row-center","x":660,"y":540,"wires":[],"info":"`msg.payload.color = \"red\";`\n`return msg;`"},{"id":"17991b7b.87b805","type":"ui_text","z":"703ee76e.a07978","group":"a14afa5d.f71ae8","order":3,"width":6,"height":1,"name":"","label":"Status : ","format":"{{msg.payload}}","layout":"row-center","x":580,"y":1040,"wires":[]},{"id":"2b9f14f9.3020ec","type":"ui_text","z":"703ee76e.a07978","group":"ac660996.ebd488","order":4,"width":3,"height":1,"name":"","label":"Sunrise","format":"{{msg.payload}}","layout":"col-center","x":960,"y":840,"wires":[]},{"id":"3b62a880.c80778","type":"ui_text","z":"703ee76e.a07978","group":"ac660996.ebd488","order":8,"width":3,"height":1,"name":"","label":"Sunset","format":"{{msg.payload}}","layout":"col-center","x":960,"y":880,"wires":[]},{"id":"1274e4.4b761b1d","type":"ui_text","z":"703ee76e.a07978","group":"ac660996.ebd488","order":6,"width":3,"height":1,"name":"","label":"Clouds","format":"{{msg.payload}}%","layout":"col-center","x":660,"y":420,"wires":[]},{"id":"ae7bfe36.0f5bb","type":"ui_ui_control","z":"703ee76e.a07978","name":"","events":"all","x":560,"y":1560,"wires":[[]]},{"id":"ee03f18c.bc3ba","type":"openweathermap","z":"703ee76e.a07978","name":"Weather","wtype":"current","lon":"","lat":"","city":"Lucknow","country":"India","language":"en","x":240,"y":600,"wires":[["faa3f3f3.ddcd2","3c4d592.c8b57a6","33bef196.7f978e","b4bcf909.d8cd78","b573f665.2e06a8","31817ee4.f2aa22","1113b823.292918","aab7fa29.195a78","6a1f28d8.d5e2a8"]]},{"id":"3c1f8ca0.9876a4","type":"twilio out","z":"703ee76e.a07978","twilio":"23e086f6.b8ca1a","twilioType":"sms","url":"","number":"+918318006759","name":"Twilio","x":910,"y":80,"wires":[]},{"id":"525b755.3fd958c","type":"twilio out","z":"703ee76e.a07978","twilio":"23e086f6.b8ca1a","twilioType":"sms","url":"","number":"+918318006759","name":"Twilio","x":1010,"y":1280,"wires":[]},{"id":"3c1c17e8.110d18","type":"twilio out","z":"703ee76e.a07978","twilio":"23e086f6.b8ca1a","twilioType":"sms","url":"","number":"+918318006759","name":"Twilio","x":1010,"y":1340,"wires":[]},{"id":"9242d1ec.ac675","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"gmxmw0.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"be75b07a.00a5a","type":"ui_group","z":0,"name":"Smart Home","tab":"e6148a76.a15808","order":1,"disp":true,"width":"6","collapse":false},{"id":"f568f69f.60d788","type":"ui_group","z":0,"name":"Sensors","tab":"5007d42e.a79fdc","order":1,"disp":true,"width":"11","collapse":true},{"id":"a14afa5d.f71ae8","type":"ui_group","z":0,"name":"Motor Control","tab":"373c67b3.e66258","order":2,"disp":true,"width":"6","collapse":true},{"id":"ac660996.ebd488","type":"ui_group","z":0,"name":"Weather","tab":"ab225f15.a176d","order":1,"disp":true,"width":"11","collapse":true},{"id":"23e086f6.b8ca1a","type":"twilio-api","z":"","name":"Twilio","sid":"AC4a3acf594ea49a1c6cedf169f0f051ef","from":"+12029327688"},{"id":"e6148a76.a15808","type":"ui_tab","z":0,"name":"Home","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"5007d42e.a79fdc","type":"ui_tab","z":0,"name":"Sensors","icon":"usb","order":2,"disabled":false,"hidden":false},{"id":"373c67b3.e66258","type":"ui_tab","z":0,"name":"Motor","icon":"toys","order":3,"disabled":false,"hidden":false},{"id":"ab225f15.a176d","type":"ui_tab","z":0,"name":"Weather","icon":"filter_drama","order":4,"disabled":false,"hidden":false}]