Smart Agriculture App.json
[{"id":"28815a77.602fd6","type":"tab","label":"App","disabled":false,"info":""},{"id":"2fa9896c.523256","type":"ibmiot in","z":"28815a77.602fd6","authentication":"apiKey","apiKey":"9242d1ec.ac675","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"mcu123","applicationId":"","deviceType":"NodeMCU","eventType":"iotsensor","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":190,"y":360,"wires":[["16a3ea44.6a24f6","98aa6143.a7937","480e5d90.e679b4","2e41c16d.c10f1e","e7141a00.71cdd8"]]},{"id":"16a3ea44.6a24f6","type":"debug","z":"28815a77.602fd6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":360,"wires":[]},{"id":"98aa6143.a7937","type":"function","z":"28815a77.602fd6","name":"Temperature","func":"msg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["16a3ea44.6a24f6","72e526bb.13eaa8"]]},{"id":"480e5d90.e679b4","type":"function","z":"28815a77.602fd6","name":"Humidity","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":420,"wires":[["16a3ea44.6a24f6","b5aa0fa8.1596d"]]},{"id":"2e41c16d.c10f1e","type":"function","z":"28815a77.602fd6","name":"Soil Moisture","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":480,"wires":[["16a3ea44.6a24f6","9820ce07.fe795"]]},{"id":"b5aa0fa8.1596d","type":"ui_gauge","z":"28815a77.602fd6","name":"","group":"f568f69f.60d788","order":5,"width":5,"height":5,"gtype":"gage","title":"Humidity","label":"","format":"{{value}}%","min":0,"max":"100","colors":["#e6e600","#00b500","#ca3838"],"seg1":"40","seg2":"70","x":600,"y":420,"wires":[]},{"id":"9820ce07.fe795","type":"ui_gauge","z":"28815a77.602fd6","name":"","group":"f568f69f.60d788","order":11,"width":5,"height":5,"gtype":"gage","title":"Soil Moisture","label":"","format":"{{value}}%","min":0,"max":"100","colors":["#ca3838","#00b500","#e6e600"],"seg1":"40","seg2":"70","x":610,"y":480,"wires":[]},{"id":"ba0ff32f.5038e","type":"debug","z":"28815a77.602fd6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":820,"wires":[]},{"id":"95293f6e.76fdb","type":"function","z":"28815a77.602fd6","name":"Temperature","func":"msg.payload = msg.payload.tempc\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":700,"wires":[["ba0ff32f.5038e","858b561.757f3a8"]]},{"id":"4fb536c1.d82528","type":"function","z":"28815a77.602fd6","name":"Weather","func":"msg.payload = msg.payload.weather+\" (\"+msg.payload.detail+\")\"\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":760,"wires":[["ba0ff32f.5038e","fe38e901.4997a8"]]},{"id":"b5acc0de.ab9b9","type":"function","z":"28815a77.602fd6","name":"Humidity","func":"msg.payload = msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":880,"wires":[["ba0ff32f.5038e","b4b1e685.eed1b8"]]},{"id":"38c5d586.7ff79a","type":"function","z":"28815a77.602fd6","name":"Wind Direction","func":"msg.payload = msg.payload.winddirection\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":940,"wires":[["ba0ff32f.5038e","92a3345d.01d088"]]},{"id":"465eeb97.2911f4","type":"function","z":"28815a77.602fd6","name":"Wind Speed","func":"msg.payload = msg.payload.windspeed\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1000,"wires":[["ba0ff32f.5038e","1d62e277.c2e41e"]]},{"id":"fe38e901.4997a8","type":"ui_text","z":"28815a77.602fd6","group":"ac660996.ebd488","order":2,"width":7,"height":1,"name":"","label":"Weather : ","format":"{{msg.payload}}","layout":"row-center","x":740,"y":760,"wires":[],"info":"`msg.payload.color = \"red\";`\n`return msg;`"},{"id":"858b561.757f3a8","type":"ui_gauge","z":"28815a77.602fd6","name":"","group":"ac660996.ebd488","order":9,"width":5,"height":4,"gtype":"gage","title":"Temperature","label":"","format":"{{value}}°C","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"40","x":750,"y":700,"wires":[]},{"id":"b4b1e685.eed1b8","type":"ui_gauge","z":"28815a77.602fd6","name":"","group":"ac660996.ebd488","order":11,"width":5,"height":4,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":880,"wires":[]},{"id":"92a3345d.01d088","type":"ui_gauge","z":"28815a77.602fd6","name":"","group":"ac660996.ebd488","order":17,"width":5,"height":4,"gtype":"compass","title":"Wind Direction","label":"","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":940,"wires":[]},{"id":"1d62e277.c2e41e","type":"ui_gauge","z":"28815a77.602fd6","name":"","group":"ac660996.ebd488","order":15,"width":5,"height":4,"gtype":"gage","title":"Wind Speed","label":"","format":"{{value}} m/s","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"15","x":750,"y":1000,"wires":[]},{"id":"c3af6499.1a3b38","type":"inject","z":"28815a77.602fd6","name":"Time","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":820,"wires":[["24977df5.909112"]]},{"id":"24977df5.909112","type":"openweathermap","z":"28815a77.602fd6","name":"Weather","wtype":"current","lon":"","lat":"","city":"Lucknow","country":"India","language":"en","x":300,"y":820,"wires":[["95293f6e.76fdb","4fb536c1.d82528","b5acc0de.ab9b9","38c5d586.7ff79a","465eeb97.2911f4","ba0ff32f.5038e","39d48fae.99ec7","7b9d6b01.2043f4","9409c4a6.0f8ea8"]]},{"id":"e7141a00.71cdd8","type":"function","z":"28815a77.602fd6","name":"Soil Moisture","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["aa71e2d4.3b57d","50d3a1b7.f955c"]]},{"id":"aa71e2d4.3b57d","type":"switch","z":"28815a77.602fd6","name":"Switch 1","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":560,"y":240,"wires":[["eb99a748.7bcd68"]]},{"id":"2f4564c5.122fac","type":"change","z":"28815a77.602fd6","name":"Msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"Low Water Level. Start Motor.","tot":"str"},{"t":"set","p":"count","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":240,"wires":[["60ef57cc.563738"]]},{"id":"60ef57cc.563738","type":"twilio out","z":"28815a77.602fd6","twilio":"23e086f6.b8ca1a","twilioType":"sms","url":"","number":"+918318006759","name":"Twilio","x":950,"y":240,"wires":[]},{"id":"eb99a748.7bcd68","type":"switch","z":"28815a77.602fd6","name":"Switch 2","property":"count","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":240,"wires":[["2f4564c5.122fac"]]},{"id":"50d3a1b7.f955c","type":"switch","z":"28815a77.602fd6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":200,"wires":[["5e67dbca.fc9924"]]},{"id":"5e67dbca.fc9924","type":"change","z":"28815a77.602fd6","name":"Change","rules":[{"t":"set","p":"count","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":200,"wires":[[]]},{"id":"2426de56.011fe2","type":"change","z":"28815a77.602fd6","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1260,"wires":[["6d0f597.306f7a8"]]},{"id":"e9eded27.6fbd3","type":"change","z":"28815a77.602fd6","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1380,"wires":[["6d0f597.306f7a8"]]},{"id":"6d0f597.306f7a8","type":"ui_text","z":"28815a77.602fd6","group":"a14afa5d.f71ae8","order":3,"width":6,"height":1,"name":"","label":"Status : ","format":"{{msg.payload}}","layout":"row-center","x":600,"y":1320,"wires":[]},{"id":"39d48fae.99ec7","type":"function","z":"28815a77.602fd6","name":"Sunrise","func":"var dtm = new Date(msg.payload.sunrise*1000);\nmsg.payload = dtm;\nreturn msg;\n","outputs":1,"noerr":0,"x":520,"y":1060,"wires":[["a94e8185.0c76d"]]},{"id":"b6759913.2d83a8","type":"string","z":"28815a77.602fd6","name":"","methods":[{"name":"toString","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":770,"y":1060,"wires":[["ec4d6ec7.ec319"]]},{"id":"ec4d6ec7.ec319","type":"function","z":"28815a77.602fd6","name":"Sunrise ","func":"var a = msg.payload\na = a.substr(11,8)\nmsg.payload = a\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1060,"wires":[["179d889c.330747"]]},{"id":"179d889c.330747","type":"ui_text","z":"28815a77.602fd6","group":"ac660996.ebd488","order":4,"width":3,"height":1,"name":"","label":"Sunrise","format":"{{msg.payload}}","layout":"col-center","x":1040,"y":1060,"wires":[]},{"id":"7b9d6b01.2043f4","type":"function","z":"28815a77.602fd6","name":"Sunrise","func":"var dtm = new Date(msg.payload.sunset * 1000);\nmsg.payload = dtm;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1100,"wires":[["69b23357.0338bc"]]},{"id":"d96afb6a.faf2d8","type":"string","z":"28815a77.602fd6","name":"","methods":[{"name":"toString","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":770,"y":1100,"wires":[["5607c9ea.8a09c8"]]},{"id":"5607c9ea.8a09c8","type":"function","z":"28815a77.602fd6","name":"Sunrise ","func":"var a = msg.payload\na = a.substr(11,8)\nmsg.payload = a\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1100,"wires":[["90dfa23f.d4ce9"]]},{"id":"90dfa23f.d4ce9","type":"ui_text","z":"28815a77.602fd6","group":"ac660996.ebd488","order":8,"width":3,"height":1,"name":"","label":"Sunset","format":"{{msg.payload}}","layout":"col-center","x":1040,"y":1100,"wires":[]},{"id":"9409c4a6.0f8ea8","type":"function","z":"28815a77.602fd6","name":"Clouds","func":"msg.payload = msg.payload.clouds\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":640,"wires":[["ba0ff32f.5038e","7daabc31.f10424"]]},{"id":"280d725a.8e1f9e","type":"ui_button","z":"28815a77.602fd6","name":"","group":"be75b07a.00a5a","order":5,"width":0,"height":0,"passthru":false,"label":"Weather","tooltip":"","color":"white","bgcolor":"#ff0040","icon":"filter_drama","payload":"{\"tab\":\"Weather\"}","payloadType":"json","topic":"","x":300,"y":1960,"wires":[["3ab73e6e.288332"]]},{"id":"34d66112.703d5e","type":"ui_button","z":"28815a77.602fd6","name":"","group":"be75b07a.00a5a","order":3,"width":0,"height":0,"passthru":false,"label":"Sensors","tooltip":"","color":"white","bgcolor":"#ff0040","icon":"usb","payload":"{\"tab\":\"Sensors\"}","payloadType":"json","topic":"","x":300,"y":1880,"wires":[["3ab73e6e.288332"]]},{"id":"38d0c448.dee1fc","type":"ui_button","z":"28815a77.602fd6","name":"","group":"be75b07a.00a5a","order":4,"width":0,"height":0,"passthru":false,"label":"Motor","tooltip":"","color":"white","bgcolor":"#ff0040","icon":"toys","payload":"{\"tab\":\"Motor\"}","payloadType":"json","topic":"","x":310,"y":1920,"wires":[["3ab73e6e.288332"]]},{"id":"3ab73e6e.288332","type":"ui_ui_control","z":"28815a77.602fd6","name":"","events":"all","x":500,"y":1980,"wires":[[]]},{"id":"40bf1e86.710c1","type":"ui_button","z":"28815a77.602fd6","name":"","group":"f568f69f.60d788","order":1,"width":2,"height":1,"passthru":false,"label":"Home","tooltip":"","color":"black","bgcolor":"#00ffff","icon":"home","payload":"{\"tab\":\"Home\"}","payloadType":"json","topic":"","x":310,"y":2000,"wires":[["3ab73e6e.288332"]]},{"id":"a04379b4.f68518","type":"ui_button","z":"28815a77.602fd6","name":"","group":"a14afa5d.f71ae8","order":1,"width":2,"height":1,"passthru":false,"label":"Home","tooltip":"","color":"black","bgcolor":"#00ffff","icon":"home","payload":"{\"tab\":\"Home\"}","payloadType":"json","topic":"","x":310,"y":2040,"wires":[["3ab73e6e.288332"]]},{"id":"c55ea04b.800fb","type":"ui_button","z":"28815a77.602fd6","name":"","group":"ac660996.ebd488","order":1,"width":2,"height":1,"passthru":false,"label":"Home","tooltip":"","color":"black","bgcolor":"#00ffff","icon":"home","payload":"{\"tab\":\"Home\"}","payloadType":"json","topic":"","x":310,"y":2080,"wires":[["3ab73e6e.288332"]]},{"id":"7daabc31.f10424","type":"ui_text","z":"28815a77.602fd6","group":"ac660996.ebd488","order":6,"width":3,"height":1,"name":"","label":"Clouds","format":"{{msg.payload}}%","layout":"col-center","x":740,"y":640,"wires":[]},{"id":"72e526bb.13eaa8","type":"ui_gauge","z":"28815a77.602fd6","name":"","group":"f568f69f.60d788","order":3,"width":5,"height":5,"gtype":"gage","title":"Temperature","label":"","format":"{{value}}°C","min":0,"max":"60","colors":["#e6e600","#00b500","#ca3838"],"seg1":"20","seg2":"35","x":610,"y":300,"wires":[],"info":"```<i class=\"fa fa-wifi\" aria-hidden=\"true\"></i>```"},{"id":"dc89988d.5d1458","type":"ibmiot out","z":"28815a77.602fd6","authentication":"apiKey","apiKey":"9242d1ec.ac675","outputType":"cmd","deviceId":"motor123","deviceType":"Motor","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":360,"y":1320,"wires":[]},{"id":"e90ebe8e.dba0b","type":"ui_button","z":"28815a77.602fd6","name":"","group":"a14afa5d.f71ae8","order":5,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"#ff1a1a","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":130,"y":1380,"wires":[["e9eded27.6fbd3","dc89988d.5d1458","3721178d.b697d8"]]},{"id":"46714ce8.a66ee4","type":"ui_button","z":"28815a77.602fd6","name":"","group":"a14afa5d.f71ae8","order":4,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"#00ae00","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":140,"y":1260,"wires":[["2426de56.011fe2","dc89988d.5d1458","4dcae96e.ff3af8"]]},{"id":"bc9d5a28.096268","type":"mytimeout","z":"28815a77.602fd6","name":"Timer","outtopic":"","outsafe":"on","outwarning":"Warning","outunsafe":"off","warning":"15","timer":"30","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":490,"y":1460,"wires":[["db055944.023058"],["9bad6985.63f9a8","2209ef9d.39a4f","37d6741f.605bfc"]]},{"id":"4dcae96e.ff3af8","type":"change","z":"28815a77.602fd6","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"payload\":\"on\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1440,"wires":[["bc9d5a28.096268"]]},{"id":"3721178d.b697d8","type":"change","z":"28815a77.602fd6","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"payload\":\"off\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1480,"wires":[["bc9d5a28.096268"]]},{"id":"db055944.023058","type":"debug","z":"28815a77.602fd6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":1440,"wires":[]},{"id":"2209ef9d.39a4f","type":"switch","z":"28815a77.602fd6","name":"Switch 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"15","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":1560,"wires":[["5ab4f116.6bec2"]]},{"id":"d331ae54.a7965","type":"change","z":"28815a77.602fd6","name":"Msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"WARNING! Motor running for 30 mins.","tot":"str"},{"t":"set","p":"counter","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1560,"wires":[["36667e5.b956982"]]},{"id":"36667e5.b956982","type":"twilio out","z":"28815a77.602fd6","twilio":"23e086f6.b8ca1a","twilioType":"sms","url":"","number":"+918318006759","name":"Twilio","x":1030,"y":1560,"wires":[]},{"id":"5ab4f116.6bec2","type":"switch","z":"28815a77.602fd6","name":"Switch 2","property":"counter","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":780,"y":1560,"wires":[["d331ae54.a7965"]]},{"id":"9bad6985.63f9a8","type":"switch","z":"28815a77.602fd6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":1500,"wires":[["a33718c4.ba8ad8"]]},{"id":"a33718c4.ba8ad8","type":"change","z":"28815a77.602fd6","name":"","rules":[{"t":"set","p":"counter","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1500,"wires":[[]]},{"id":"37d6741f.605bfc","type":"switch","z":"28815a77.602fd6","name":"Switch 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":1620,"wires":[["36cecaf5.797ab6"]]},{"id":"90e7f808.7cd558","type":"change","z":"28815a77.602fd6","name":"Msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"WARNING! Motor autmoatically switched off after 45 mins. Start again if needed","tot":"str"},{"t":"set","p":"counter","pt":"global","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1620,"wires":[["43737ea5.8c278"]]},{"id":"43737ea5.8c278","type":"twilio out","z":"28815a77.602fd6","twilio":"23e086f6.b8ca1a","twilioType":"sms","url":"","number":"+918318006759","name":"Twilio","x":1030,"y":1620,"wires":[]},{"id":"36cecaf5.797ab6","type":"switch","z":"28815a77.602fd6","name":"Switch 2","property":"counter","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":780,"y":1620,"wires":[["90e7f808.7cd558","90b721fe.45cdb"]]},{"id":"58929e5b.058f1","type":"link out","z":"28815a77.602fd6","name":"","links":["6f74094f.3431a8","a5bcc756.304828"],"x":995,"y":1660,"wires":[]},{"id":"90b721fe.45cdb","type":"change","z":"28815a77.602fd6","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"motoroff\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1660,"wires":[["58929e5b.058f1"]]},{"id":"6f74094f.3431a8","type":"link in","z":"28815a77.602fd6","name":"","links":["58929e5b.058f1","af4866e.0250998"],"x":175,"y":1320,"wires":[["3721178d.b697d8","dc89988d.5d1458","e9eded27.6fbd3"]],"outputLabels":["msg.payload"]},{"id":"a94e8185.0c76d","type":"moment","z":"28815a77.602fd6","name":"Time","topic":"","input":"","inputType":"msg","inTz":"Asia/Kolkata","adjAmount":"5.5","adjType":"hours","adjDir":"add","format":"","locale":"en_US","output":"","outputType":"msg","outTz":"Asia/Kolkata","x":650,"y":1060,"wires":[["b6759913.2d83a8"]]},{"id":"69b23357.0338bc","type":"moment","z":"28815a77.602fd6","name":"Time","topic":"","input":"","inputType":"msg","inTz":"Asia/Kolkata","adjAmount":"5.5","adjType":"hours","adjDir":"add","format":"","locale":"en_US","output":"","outputType":"msg","outTz":"Asia/Kolkata","x":650,"y":1100,"wires":[["d96afb6a.faf2d8"]]},{"id":"9242d1ec.ac675","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"gmxmw0.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"f568f69f.60d788","type":"ui_group","z":"","name":"Sensors","tab":"b0c6d3e8.45912","order":1,"disp":true,"width":"11","collapse":true},{"id":"ac660996.ebd488","type":"ui_group","z":"","name":"Weather","tab":"cec63306.c2996","order":1,"disp":true,"width":11,"collapse":true},{"id":"23e086f6.b8ca1a","type":"twilio-api","z":"","name":"Twilio","sid":"AC4a3acf594ea49a1c6cedf169f0f051ef","from":"+12029327688"},{"id":"a14afa5d.f71ae8","type":"ui_group","z":"","name":"Motor Control","tab":"eae72929.e506c8","order":2,"disp":true,"width":"6","collapse":true},{"id":"be75b07a.00a5a","type":"ui_group","z":"","name":"Smart Home","tab":"82a3354d.81d758","order":1,"disp":true,"width":"6","collapse":false},{"id":"b0c6d3e8.45912","type":"ui_tab","z":"","name":"Sensors","icon":"usb","order":2,"disabled":false,"hidden":false},{"id":"cec63306.c2996","type":"ui_tab","z":"","name":"Weather","icon":"filter_drama","order":4,"disabled":false,"hidden":false},{"id":"eae72929.e506c8","type":"ui_tab","z":"","name":"Motor","icon":"toys","order":3,"disabled":false,"hidden":false},{"id":"82a3354d.81d758","type":"ui_tab","z":"","name":"Home","icon":"home","order":1,"disabled":false,"hidden":false}]